{% extends "templates/template.html" %}
{% block estilos %}
    {% load staticfiles %}
{% endblock %}
{% block jumbotron %}
{% endblock %}
{% block talleres %}
	<div class="col-md-12 bajar-margin">
		<h2>Taller 1 parte 1: Modelos colaborativos</h2>
		<p><a target="_blank" href="{% static 'docs/taller_1.pdf' %}">Ver el enunciado del taller</a></p>
	</div>
	<div class="col-md-8">
		<form method="post">
			{% csrf_token %}
        	<select name="artists" multiple class="form-control" size="10">
				{% for artist in artists %}
				<option value="{{artist}}">{{artist}}</option>
				{% endfor %}
			</select>
			<br/>
			<button type="submit" class="btn btn-success">Recomendar!</button>
      	</form>
	</div>
	<div class="col-md-4">
		{% if recommendations %}
		<h2>Artistas recomendados</h2>
		{% for name, points in recommendations %}
			<p>Creemos que le darás un puntaje de {{ points }} a {{ name }}.</p>
		{% endfor %}
		{% endif %}
	</div>
{% endblock %}
{% block librerias %}
  <script src="{% static 'js/anti_csrf.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
{% endblock %}
